// Variables
$primary-color: #54aef8;
$button-background: #2f2c2c;
$button-text-color: #ffffff;
$button-hover-color: #a1a1a1;
$border-color: #a3a3a3;

@mixin common-padding-radius() {
  border-radius: 5px;
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.calculator {
  margin: 20px auto;
  max-width: 375px;
  border: 5px solid $border-color;
  @include common-padding-radius;
}

#display-screen {
  background-color: white;
  border: 2px solid $border-color;
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: right;
  min-height: 72px;
  word-wrap: break-word;
  @include common-padding-radius;
}

.calculator-key-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calculator-key {
  min-height: 45px;
}

#calculator-key-enter {
  grid-column: 4 /5;
  grid-row: 4 / span 3;
}

button {
  font-size: 1.2em;
  border: none;
  background-color: $button-background;
  color: $button-text-color;
  cursor: pointer;
  @include common-padding-radius;
}

button:hover {
  background-color: $button-hover-color;
}

#calculator-key-allClear {
  background-color: #00e87c;
}

.wrapper {
  min-height: calc(100vh - 98px);
}
